/* Base Styles */

:root {
  /*Color Palettes*/
  --bg-body: #9BC264;
  --bg-section: #F7DB91;
  --bg-text: #2C2C2C;
  --bg-headers: #F075AE;
}

body {
  background-color: var(--bg-body);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  text-align:center;
}


header {
  background-color: var(--bg-section);
  color: var(--bg-headers);
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 3px solid var(--bg-body);
  backdrop-filter: blur(10px);
  transition: background-color 0.3s ease;
  border-radius: 20px;
  width: 1200px;
}

nav {
  justify-content: space-evenly;
  align-items: center;
  height: 4rem;
  display: flex;
}

nav h1 {
  font-family: "Tangerine", cursive;
  font-size: 6rem;
  letter-spacing: 0.8px;
  margin: 0;
  -webkit-text-stroke: 0.8px black;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

nav a {
  color:#F075AE;
  text-decoration: none;
  font-size: 1.3rem;
  transition: all 0.3s ease;
  border-radius: 4px;
   -webkit-text-stroke: 0.1px black;
}

section, footer {
  max-width: 1200px;
  margin: 1.5rem auto;
  padding: 50px 20px;
  background-color: var(--bg-section);
  border-radius: 40px;
}

section h2 {
  font-size: 5rem;
  margin-bottom: 60px;
  text-align: center;
  color: var(--bg-headers);
  letter-spacing: -1px;
  -webkit-text-stroke: 0.8px black;
  font-family: "Tangerine", cursive;
}

.hero-img {
  width: 100%;
  max-width: 1200px;
  height: auto;
  object-fit:cover;
  border-radius: 40px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

section h3 {
  color: #7A9E4D;
}

.about-us-layout {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.about-us-layout h2 {
  flex: .4;
}

.p-wrapper {
  flex: .6;
  color:var(--bg-text);
}

.Testimonials article {
  flex: 1;
}

.price-was, .specials p {
  font-weight: bold;
}

.specials span {
  color: red;
  font-weight: bold;
}
/* Typography */

/* Links & Accents */

/* Images */

/* Hero Section */

/* Main Content */

/* About Section */

/* Specials Section */

/* Visit Us Section */

iframe {
  width: 100%;
  height: 350px;
}

/* Footer */
footer {
  margin-top: 48px;
}
